# .env.example
# MongoDB Connection String (e.g. mongodb+srv://user:pass@cluster.mongodb.net/taxi_app)
DATABASE_URL=
JWT_SECRET="your_jwt_secret_here"

# Supabase
VITE_SUPABASE_URL=
VITE_SUPABASE_ANON_KEY=
SUPABASE_URL=
SUPABASE_SERVICE_KEY=
